<!DOCTYPE html>
<html lang="en-ca"> 
<head>
<meta charset="utf-8">
<title>{% if page.title %}{{page.title}} ･ {% endif %}Bickram Designs{% if page.titleAfter %} ･ {{page.titleAfter}}{% endif %}</title>
<link href="http://fonts.googleapis.com/css?family=Nova+Square" rel="stylesheet" type="text/css">
<link href='https://fonts.googleapis.com/css?family=Covered+By+Your+Grace' rel='stylesheet' type='text/css'>
<link href="{{site.baseurl}}/css/portfolio.css" rel="stylesheet">
<link href="images/favicon.jpg" rel="shortcut icon">
<meta name="description" content="{{page.meta}}">
<script src="js/modernizer.min.js"></script>
<meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>
      
{{content}}
      

</html>